<div class="container">
	<h1>Chatting with <%= @conversation.with(current_user).username %></h1>

	<div id="conversation-main">
	  <div id="conversation-body">
	    <%= render @conversation.personal_messages %>
	  </div>

	  <%= form_for @personal_message, remote: true do |f| %>
	    <%= hidden_field_tag 'conversation_id', @conversation.id %>
	    <div class="form-group">
		    <%= f.text_area :body, class: "form-control" %>
		    <%= f.submit 'Send' %>
	    </div>

	  <% end %>
	</div>
</div>
