<div class="wrapper">
	<h2>Log in</h2>

	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="control has-icon">
	    <%= f.input :email, required: false, autofocus: true, placeholder: 'Email', class: "input" %>
	    <span class="icon is-small">
	    	<i class="fa fa-envelope"></i>
	  	</span>
	  </div>

	  <div class="control has-icon">
	    <%= f.input :password, required: false, class: "input" %>
	  	<span class="icon is-small">
	    	<i class="fa fa-envelope"></i>
	  	</span>
	  </div>

	  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

	  <div class="control">
	    <%= f.button :submit, "Log in", class: "button is-success" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
