	<div class="container">
		<!-- Filters -->
		<%= render 'sidebar' %>

		<!-- All Posts -->
		<div class="col-sm-8">
			<% unless user_signed_in? %>
			<div class="alert alert-info">
				<p><strong><a href="/users/sign_up"> Sign Up to kodaLIST </a></strong> to join the conversation. Ask questions about your code, get help adding a new feature, and get into the discussion with other kodaLISTed people around Kigali.</p>
			</div>
			<% end %>

			<!-- <div class="threads"> -->
			<!-- <div class="thread"> -->
			<% @posts.each do |post| %>
			<div class="w3-card threads w3-margin w3-white w3-border-left-4" >

				<header class="w3-container w3-beige w3-shadow">
					<h1><%= link_to post.title, post_path(post) %></h1>
				</header>

				<div class="w3-container">
					<div>
						<p><%= post.category.name.upcase %></a></strong> • POSTED <%= time_ago_in_words(post.created_at).upcase%> AGO BY <span class=""><%= link_to post.user.pseudo.upcase, users_path if post.user.pseudo %></span> •  
						<strong>
							<%= 1 + post.replies.count %>

							<% if post.replies.count > 1 %>
							posts
							<% else %>
							post		
							<% end %>	
						</strong>
						</p>
					</div>
				</div>
				<br>
			</div>
				<% end %>
		</div>
	</div>
</div>

