<div class="">
	<div class="skinny-wrapper">
		<% @posts.each do |post| %>
				<h3 class="home-text"><%= link_to post.title, post %></h3>
				<p><%= truncate post.body, length: 100 %> | <%= link_to 'Read More', post %></p>
				<p class="date">Posted by <%= post.user.first_name %> <%= time_ago_in_words(post.created_at)%> ago</p>
				<hr>
		<% end %>
	</div>
</div>