<div class="wrapper">
	<div class="skinny-wrapper">
		<h1><%= @post.title %></h1>

		<p><em><%= @post.user.email %> | posted <%= @post.created_at %></em></p>
		<p><%= @post.body %></p>
		<%= link_to :Delete, post_path, method: :delete, remote: true, data: { confirm: 'Are you for real?'} %>
		<%= link_to :Edit, edit_post_path %>
		<hr>

		<!-- Post replies -->
		<%= render 'replies/replies' %>

		<hr>
		<h3>Post A Reply:</h3>
		<%= render "replies/form" %>
		<br>
	</div>
</div>