<%= render 'sidebar' %>
<div class="col-sm-8 reply">
	<div class="post-content">
		<h1><%= @post.title %></h1>

		<p><em><%= @post.user.email %> | posted <%= time_ago_in_words(@post.created_at)%> ago</em></p>
		<p><%= simple_format @post.body %></p>
		<% if @post.user == current_user %>
			<%= link_to :Delete, post_path, method: :delete, class: "btn button", remote: true, data: { confirm: 'Are you for real?'} %>
			<%= link_to :Edit, edit_post_path, class: " btn button" %>
		<% end %>
	</div>

	<!-- Post replies -->
	
<%= render 'replies/replies' %>
	
	<hr>
	<% if current_user %>
		<h3>Post A Reply:</h3>
		<%= render "replies/form" %>
	<% else %>
		<p>Please <%= link_to 'Sign In', new_user_session_path %> to reply to this thread!</p>
	<% end %>
</div>