<h1>New message to <%= @receiver.username %></h1>

<%= form_for @personal_message, remote: true do |f| %>
	
	<div class="form-group">
	  <%= hidden_field_tag 'receiver_id', @receiver.id %>
    <%= f.text_area :body, class: "form-control" %>
	</div>

  <%= f.submit %>
<% end %>
