<!DOCTYPE html>
<html>
  <head>
    <title>Kodalist</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

  <%= render 'shared/menu' %>

  <!-- Flash Messages -->
    <% if notice %>
     <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <p class="copyright">&copy; 2017 kodaLIST for Developers by <%= link_to 'DoDo', "https://mukunzidd.github.io", target: "_blank" %>.</p>
      <nav>
        <a href="https://github.com/kodalist" target="blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="https://twitter.com/kodaLISTed" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://youtube.com/kodalist" target="blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <a href="https://medium.com/@kodalist" target="blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
